<%- include('./partials/header') %>
<div class="profile w-full min-h-screen bg-zinc-800 text-white pt-1">
    <form id="uploadForm" hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" id="">
    </form>
    <div class="profdets flex flex-col items-center mt-20">
        <div id="uploadIcon" class="w-28 h-28 bg-zinc-200 rounded-full overflow-hidden">
            <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profileImage %>" alt="">
        </div>
        <h1 class="text-3xl font-semibold"><%= user.name %></h1>
        <div class="text-xl flex items-center gap-1"><img src="./images/logo.png" class="w-4 h-4 grayscale" alt=""> <p class="text-sm text-muted"><%= user.username %></p></div>
        <a href="/edit" class="px-7 py-2 mt-5 bg-red-700 rounded-full">Edit Profile</a>
        <a href="/add" class="px-7 py-2 rounded-full bg-zinc-100 text-black mt-2">Add New Post</a>
    </div>
    <div class="cards flex flex-wrap gap-10 px-10 py-10">
        <div class="card">
            <div class="w-40 h-32 bg-zinc-200 rounded-md overflow-hidden">
                <img class="w-full h-full object-cover" src="/images/uploads/<%= user?.posts[0]?.image %>" alt="">
            </div>
            <a href="/showpost" class="inline-block text-xl font-semibold mt-3">All Pins</a>
            <h5 class="text-sm"><%= user.posts.length %></h5>
        </div>
    </div>
</div>

<script>
    document.querySelector('#uploadIcon').addEventListener('click', ()=>{
        document.querySelector('#uploadForm input').click();
    })

    document.querySelector("#uploadForm input").addEventListener("change", ()=>{
        document.querySelector("#uploadForm").submit();
    })
</script>
<%- include('./partials/footer') %>